.container-1 {
	width: 22vw;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}
.container-1 input#search {
	width: 24vw;
	height: 7vh;
	border: none;
	font-size: 12pt;
	float: left;
	color: #262626;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 16px;

}
.container-1 input#search::-webkit-input-placeholder {
	color: #65737e;
}
.container-1 input#search:-moz-placeholder {
	/* Firefox 18- */
	color: #65737e;
}
.container-1 input#search::-moz-placeholder {
	/* Firefox 19+ */
	color: #65737e;
}
.container-1 input#search:-ms-input-placeholder {
	color: #65737e;
}
.container-1 .icon {
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
	z-index: 1;
	color: #4f5b66;
}
.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
	outline: none;
	background: #ffffff;
}
